---
layout: layouts/home.njk
path: home
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container clear-both mx-auto flex flex-col justify-center items-center">
  <h1>
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">Committee on {{ metadata.title }}</strong>
</h1>


{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} updates{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
