---
layout: layouts/home.njk
path: home
partners: International Associations
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container clear-both mx-auto my-8 flex flex-col place-items-center">
  <h1>
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
      {{ metadata.title }}
    </strong>
  </h1>
  <div class="max-w-prose">
    <p> {{ metadata.description }} </p>
  </div>
</div>

<div class="container clear-both mx-auto flex flex-col place-items-start">
  {% set maxPosts = collections.posts.length | min(3) %}
  <div class="p-5 items-start">
    <h2 class="mt-12">
        <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
          Latest {% if maxPosts == 1 %}update{% else %}{{ maxPosts }}updates{% endif %}
        </strong>
    </h2>
    {% set postslist = collections.posts | head(-3) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}
    <p class="clear-both my-4 text-right">More posts can be found in <a class="text-blue-600 visited:text-purple-600" href="{{ '/posts/' | url }}">Updates</a>.</p>
  </div>

  <h2 class="mt-12">
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500 mt-4">
      {{partners}}
    </strong>
  </h2>
  <p> {{ metadata.partners }} </p>

  {% include "_includes/partials/partners.njk" %}

</div>