---
layout: layouts/home.njk
path: home
partners: International Associations
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container mx-auto px-20">
    <div class="p-5">
        <h1>
            <div class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
                {{ metadata.title }}
            </div>
        </h1>
        <div class="px-50">
            <p> {{ metadata.description }} </p>
            <ul class="list-disc mt-8 ml-12">
                <li><a class="text-blue-600 visited:text-purple-600" href="{{ '/committee/' | url }}">Learn more</a> about the {{ metadata.committee }} </li>
                <li><a class="text-blue-600 visited:text-purple-600" href="{{ '/forum/' | url }}">Learn more</a> about the {{ metadata.forum }} </li>
            </ul>
        </div>
    </div>
</div>
<div class="container mx-auto px-20">
    <div class="p-5 mt-12">
    {% set maxPosts = collections.posts.length | min(3) %}
        <div class="p-5 mt-20 items-start">
            <h2>
                <div class="whitespace-nowrap bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
                    Latest {% if maxPosts == 1 %}update{% else %}updates{% endif %}
                </div>
            </h2>
            {% set postslist = collections.posts | head(-3) %}
            {% set postslistCounter = collections.posts | length %}
            {% include "postslist.njk" %}
            <p class="clear-both my-4 text-right">More posts can be found in <a class="text-blue-600 visited:text-purple-600" href="{{ '/posts/' | url }}">Updates</a>.</p>
        </div>
    </div>
</div>

<div class="container mx-auto p-20">
    <h2 class="">
        <div class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500 mt-4">
            {{partners}}
        </div>
    </h2>
    <p> {{ metadata.partners }} </p>
    {% include "_includes/partials/partners.njk" %}
</div>
