---
layout: layouts/home.njk
permalink: /committee/members/
title: Committee Members
description: 
eleventyNavigation:
  key: Members
  order: 1
--- 
<div class="container clear-both mx-auto flex flex-col justify-center items-center">
  <div class="pb-5 mb-5 border-b border-gray-100">
    <h1>
      <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
       CoDiR Commmittee Members
      </strong>
    </h1>
  </div>
  <p> {{ metadata.committee }} </p>
  {% include "_includes/partials/members.njk" %}
</div>