---
title: Committee Members
permalink: committee/committee.html
--- 
 
<h2>
  <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
    Commmittee Members
  </strong>
</h2>
<p> {{ metadata.committee }} </p>

{% include "_includes/partials/members.njk" %}